*{
    margin:0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.main-container{
    height: 100%;
}
.background-image-wrapper{
    width: 100%;
    height: 87%;
    background-image: url("./images/background.png");

}

.header-wrapper{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    padding-left: 40px;
    width: 40px;
    height: 40px;
}

.nav-container{
    width: 610px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.nav-container nav{
    cursor: pointer;
    color: white;
    font-style:normal;
    font-weight:normal;
    font-size:16px;

}

.nav-container nav:hover{
    color:#C89AFC;
}

.button-container-log-in{
    width:183px;
    height:44px;
    display:flex;
    align-items:center;
    padding-right:80px;
}

.button-log-in{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: none;
    background: linear-gradient(90deg, #C89AFC, #7C6AFA);
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

}

.button-log-in:hover{
    cursor: pointer;
}
.title-container{
    padding-left: 312px;
    position: relative;
    width:800px ;
    display: block;
    align-self: center;
    height: 500px;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 150px;


}
.title-content{
    width: 920px;
    height: 180px;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 140%;
    padding-bottom: 50px;

}
.timer {
    width: 530px;
    height: 112px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;


}

.timer-block{
    padding-right: 30px;
}
.type-timer{
    color: grey;
    font-size: 16px;
    justify-content: center;
}

.timer-text{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
}

.low-items {
    width: 1920px;
    height: 13%;
    top: 830px;
    display: flex;
    flex-direction: row;



}

.button-buy{
    width: 169px;
    height: 44px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(90deg, #DF5950, #451046);
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-left:312px;
    margin-top:43px;
}
.low-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 36px;
    padding-left: 81px;
    padding-right: 30px;

}
.numbers-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-right: 81px;
    color: white;
}
 .second-low{
     width: 100%;
     height: 130px;
     display: flex;
     flex-direction: row;
     align-items: center;
 }

 .empty-square{
     width: 714px;
     height: 6px;
     display: flex;
     flex-direction: row;
 }

 .first-square{
     width: 440px;
     height: 6px;
     background: linear-gradient(90deg, #DF5950, #451046)
 }

 .second-text-container{
     padding-right: 30px;
     color: grey;
     size: 16px;
     padding-bottom: 8px;
 }

 .square-flex{
     display: flex;
     flex-direction: column;
 }

 .second-square{
     width: 274px;
     height: 6px;
     background-color: white;
     size: 16px;
 }

 .text-configuration{
     display: flex;
     flex-direction: row;
 }

 .square-value{
     padding-top: 9px;
     color: grey;
     size: 16px;
     display: flex;
     flex-direction: row;
 }

 .step{

     padding-right: 635px;
 }


 .text-container1{
     color: grey;
     size: 16px;
     padding-bottom: 18px;
 }
.text-container2{
    color: grey;
    size: 16px;
}
.numbers-configuration{
    padding-top: 40px;
    padding-bottom: 18px;
}

.square-image{
    width: 838px;
}
.second-box{
    height: 542px;
    width: 1301px;
    padding-left: 312px;
    padding-top: 200px;
    display: flex;
    flex-direction: row;
}

.computer-image{
    position:absolute;
    padding-top: 96px;
    padding-left: 40px;
    }
.purple-square{

}

.explanations-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: white;
}

.blok-configurations{
    display: flex;
    flex-direction: row;
    width: 526px;
    padding-right: 139px;
}

.title-configuration{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: white;
    padding-top: 69px;
    padding-bottom: 45px;
}

.third-box{
    width: 1315px;
    height: 552px;
    padding-top: 200px;
    padding-left: 293px;

}

.logo-and-text{
    display: flex;
    flex-direction: row;
}
.Ellipse {
    padding-left: 31.22px;
    float: left;
    padding-right: 20px;
    width: 95.78px;
}

.third-box-title-text{
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    padding-top: 31px;
    height: 67px;
    width: 351px;
}
.third-box-first-text{
    width: 411px;
    height: 52px;
    padding-left: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: grey;
    padding-top: 49px;
}

.percents-configurations{
    width: 1278px;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;

}

.percents1{
    font-size: 36px;
    color: white;
    font-style: normal;
    font-weight: bold;
    padding-top: 80px;
    padding-left: 19px;
    padding-right: 235px;
}
.percents2{
    font-size: 36px;
    color: white;
    font-style: normal;
    font-weight: bold;
    padding-top: 80px;
    padding-right: 256px;
}
.percents3{
    font-size: 36px;
    color: white;
    font-style: normal;
    font-weight: bold;
    padding-top: 80px;
    padding-right: 256px;
}
.percents4{
    font-size: 36px;
    color: white;
    font-style: normal;
    font-weight: bold;
    padding-top: 80px;
    padding-right: 245px;
}

.purple-bloks{
    width: 1296px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 19px;
}

.first-blok{
    width: 324px;
    height: 80px;
    background: linear-gradient(90deg, #C89AFC ,#7C6AFA);
}

.second-blok{
    width: 324px;
    height: 60px;
    background: linear-gradient(270deg, #C89AFC ,#7C6AFA);
}

.third-blok{
    width: 324px;
    height: 30px;
    background: linear-gradient(90deg, #C89AFC ,#7C6AFA);
}

.forth-blok{
    width: 324px;
    height: 10px;
    background: linear-gradient(270deg, #C89AFC ,#7C6AFA);
}

.third-box-second-text{
    padding-left: 19px;
    display: flex;
    flex-direction: row;
    width: 1278px;
    justify-content: space-between;
}

.text-configuration-third-box{
    font-size:14px ;
    color: grey;
    width: 306px;
    height: 88px;
    padding-top: 35px;
    line-height: 22.4px;
}

.forth-blok-configuration{
    padding-left: 312px;
    padding-top: 200px;
    width: 1296px;
    height: 549px;
}
.forth-container{
    display: flex;
    flex-direction: row;
    width: 1296px;
    height: 549px;
    justify-content: space-between;
}
.forth-title{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 67px;
    text-align: center;
    color: white;
    width: 810px;
    height: 67px;
    padding-left: 243px;
}
.icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 120px;
}
.title-forth1{

    color: white;
    padding-top: 60px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

}
.title-forth2{

    color: white;
    padding-top: 60px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

}
.title-forth3{

    color: white;
    padding-top: 60px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

}